POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=dbobjects_test
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable


MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DB=dbobjects_test
MYSQL_PORT=3306


MSSQL_HOST=localhost
MSSQL_USER=sa
MSSQL_PASSWORD=yourStrong(!)Password1
MSSQL_DB=dbobjects_test
MSSQL_PORT=1433